/* Prism Widget */

.content-wrapper {
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.prism-shape {
  position: relative;
  left: -100px;
  width: 150px;
  height: 150px;
  border-bottom: 3px solid #454545;
  margin: 2rem auto 5rem;
}
.prism-shape:before, .prism-shape:after {
  content: '';
  position: absolute;
  width: 150px;
  height: 3px;
  bottom: 0;
  background: #454545;
  z-index: 3;
}
.prism-shape:before {
  -webkit-transform: rotate(60deg) translateX(-47%);
  transform: rotate(60deg) translateX(-47%);
  right: -72px;
}
.prism-shape:after {
  -webkit-transform: rotate(-60deg) translateX(47%);
  transform: rotate(-60deg) translateX(47%);
  left: -72px;
}
.prism-shape .white-streak {
  height: 2px;
  width: 300px;
  position: absolute;
  background: black;
  -webkit-transform: rotate(-13deg) translateY(calc(100% + 110px));
  transform: rotate(-13deg) translateY(calc(100% + 110px));
  border-radius: 10px 0 0 10px;
}

.lower-streak {
  top:15px;
  left: -286px;
}

.upper-streak {
  left: -279px;
}


.prism-shape .prism-wrapper {
  position: relative;
  height: 100px;
  width: 400px;
  -webkit-perspective: 150px;
  perspective: 150px;
  margin: 80px auto auto -120px;
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
}
.prism-shape .prism-clip-wrapper {
  width: 700px;
  height: 520px;
  position: absolute;
  display: flex;
  overflow: hidden;
  -webkit-transform: rotate(-31deg);
  transform: rotate(-31deg);
  left: 153px;
  top: -202px;
  z-index: -1;
}

#white-light-label {
    float: left;
    position: absolute;
    top: 83px;
    left: -150px;
    transform: rotate(-13deg);
}

#prism-label {
    position: absolute;
    top: 156px;
    left: 53px;
}

.prism-radio {
  margin-left: 30px;
  margin-top: 30px;
}

@-webkit-keyframes glow {
  to {
    width: 100%;
    flex-grow: 1;
  }
}

@keyframes glow {
  to {
    width: 100%;
    flex-grow: 1;
  }
}
.prism-items {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  display: flex;
  flex-direction: column;
}
.prism-items .prism-colors {
  flex-grow: 1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.prism-items .prism-colors:nth-child(1) {
  background: red;
}
.prism-items .prism-colors:nth-child(2) {
  background: orange;
}
.prism-items .prism-colors:nth-child(3) {
  background: yellow;
}
.prism-items .prism-colors:nth-child(4) {
  background: green;
}
.prism-items .prism-colors:nth-child(5) {
  background: blue;
}
.prism-items .prism-colors:nth-child(6) {
  background: indigo;
}
.prism-items .prism-colors:nth-child(7) {
  background: violet;
}

.lens {
  background-color: #dedede;
  border-radius: 10px;
  height: 170px;
  width: 10px;
  position: absolute;
  top: -37px;
  right: 91px;
}

.camera-filter {
  width: 7px;
  right: 84px;
  top:-58px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s linear;
  z-index: 1;
}

.camera-filter:active {
  top:-27px;
}

.white-cover {
  display: none;
  background-color: white;
  height: 200px;
  width: 200px;
  right: -116px;
  top: -45px;
}

/* End Prism */


/* Color Tool */

input[type="range"] {
  width: 110px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 5px;
}

.object-select {
  font-size: 18px;
  float: right;
  width: 100px;
  outline: 0;
}


.form-check-input {
  margin-top: .85rem;
}

.center-sticky {
  float: left;
  margin: 25px;
  margin-left: -5px;
  width: 90%;
}

.widget-title {
  margin-left: -1.25rem;
  color: black;
  font-size: 25px;
  text-align: left;
  text-shadow: none;
  position: relative;
}

.filter {
  margin-bottom: 25px;
}

.filter-label {
  display: inline-block;
  text-align: center;
  width: 20px;
}

.filter-titles {
  position: relative;
  left: -25px;
  width: 10px;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: none;
  line-height: inherit;
}

.titles-right {
  float: right;
  left:-90px;
}


/* Filters */


/* Intro */

.intro-filter {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
  -webkit-box-shadow: 0px 0px 11px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 11px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0px 11px #ccc;
  /*display: none;*/
}


/* Six Color Filter */

.image-filter {
  background-position: center;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
  background-size: 100%;
  background-blend-mode: multiply;
  mix-blend-mode: screen;
  -webkit-box-shadow: 3px 3px 6px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 6px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 6px #ccc;
  display: none;
}

.u-filter {
  filter: brightness(1.92);
  background-image: url('../assets/m33/m33-u.png');
}


/* g – Blue */

.g-filter {
  filter: brightness(1.08);
  background-image: url('../assets/m33/m33-g.png');
}


/* r – Green */

.r-filter {
  filter: brightness(1.45);
  background-image: url('../assets/m33/m33-r.png');
}


/* i – Yellow */

.i-filter {
  filter: brightness(.52);
  background-image: url('../assets/m33/m33-i.png');
}


/* z – Orange */

.z-filter {
  filter: brightness(.375);
  background-image: url('../assets/m33/m33-z.png');
}


/* y – Red */

.y-filter {
  filter: brightness(1.9);
  background-image: url('../assets/m33/m33-y.png');
}


/* RGB Widget */


/* Red */

.red-filter {
  background-position: center;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-image: url('../assets/images/red-filter.png');
  mix-blend-mode: screen;
  background-size: 100%;
  display: none;
}


/* Green */

.green-filter {
  background-position: center;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-image: url('../assets/images/green-filter.png');
  mix-blend-mode: screen;
  background-size: 100%;
  display: none;
}


/* Blue */

.blue-filter {
  background-position: center;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-image: url('../assets/images/blue-filter.png');
  mix-blend-mode: screen;
  background-size: 100%;
  display: none;
}


/* Media And Screen styles */


/*Extra large devices (large desktops, 1200px and up)*/

@media (max-width: 1200px) {
  input[type="range"] {
    width: 110px;
  }
}


/*Large devices (desktops, 992px and up)*/

@media (max-width: 992px) {
  input[type="range"] {
    width: 69px;
  }
  .prism-items {
    width: 93%;
  }
  .fig {
    width: 100%;
  }
  .image-filter {
    height: 60%;
  }

  .intro-filter {
    height: 60%;
  }

}


/*Medium devices (tablets, 768px and up)*/

@media (max-width: 768px) {
  input[type="range"] {
    width: 70%;
  }
  .mobile-buffer {
    height: 40vh;
  }

  .intro-filter {
    height: 100%;
  }

  .image-filter {
    height: 100%;
  }

}


/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 676px) {
  h1 {
    font-size: 54px;
  }
  input[type="range"] {
    width: 70%;
  }
  .prism-shape {
    left: -15px;
  }
  .prism-items {
    width: 70%;
  }
  .object-astronaut {
    width: 75px;
  }
  .object-earth {
    width: 20px;
  }
  .central-body {
    padding: 40% 5% 10% 5%;
  }

}

@media (max-width: 490px) {
  input[type="range"] {
    width: 55%;
  }
  .prism-items {
    width: 60%;
  }
  #white-light-label {
    top: 64px;
    left: -68px;
    transform: rotate(-12deg);
}
.copyright {
  margin-left: 15px !important;
}
}