
@-moz-keyframes rocket-movement { 100% {-moz-transform: translate(1200px,-600px);} }
@-webkit-keyframes rocket-movement {100% {-webkit-transform: translate(1200px,-600px); } }
@keyframes rocket-movement { 100% {transform: translate(1200px,-600px);} }
@-moz-keyframes spin-earth { 100% { -moz-transform: rotate(-360deg); transition: transform 20s;  } }
@-webkit-keyframes spin-earth { 100% { -webkit-transform: rotate(-360deg); transition: transform 20s;  } }
@keyframes spin-earth{ 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); transition: transform 20s; } }

@-moz-keyframes move-astronaut {
    100% { -moz-transform: translate(-160px, -160px);}
}
@-webkit-keyframes move-astronaut {
    100% { -webkit-transform: translate(-160px, -160px);}
}
@keyframes move-astronaut{
    100% { -webkit-transform: translate(-160px, -160px); transform:translate(-160px, -160px); }
}
@-moz-keyframes rotate-astronaut {
    100% { -moz-transform: rotate(-720deg);}
}
@-webkit-keyframes rotate-astronaut {
    100% { -webkit-transform: rotate(-720deg);}
}
@keyframes rotate-astronaut{
    100% { -webkit-transform: rotate(-720deg); transform:rotate(-720deg); }
}

@-moz-keyframes glow-star {
    40% { -moz-opacity: 0.3;}
    90%,100% { -moz-opacity: 1; -moz-transform: scale(1.2);}
}
@-webkit-keyframes glow-star {
    40% { -webkit-opacity: 0.3;}
    90%,100% { -webkit-opacity: 1; -webkit-transform: scale(1.2);}
}
@keyframes glow-star{
    40% { -webkit-opacity: 0.3; opacity: 0.3;  }
    90%,100% { -webkit-opacity: 1; opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2); border-radius: 999999px;}
}

.spin-earth-on-hover{
    
    transition: ease 200s !important;
    transform: rotate(-3600deg) !important;
}


/* Astronaut and Cover */

.bg-blue{
    overflow: hidden
    overflow-x: hidden;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    height: 80vh;
}


.central-body{
/*    width: 100%;*/
    padding: 10% 5% 10% 5%;
    text-align: center;
}

.objects img{
    z-index: 90;
    pointer-events: none;
}

.object-rocket{
    z-index: 95;
    position: absolute;
    transform: translateX(-50px);
    top: 45%;
    pointer-events: none;
    animation: rocket-movement 200s linear infinite both running;
}

.object-earth{
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 90;
/*    animation: spin-earth 100s infinite linear both;*/
}

.object-moon{
    position: absolute;
    top: 12%;
    left: 25%;
/*
    transform: rotate(0deg);
    transition: transform ease-in 99999999999s;
*/
}

.object-astronaut{
    animation: rotate-astronaut 200s infinite linear both alternate;
}

.box-astronaut{
    z-index: 110 !important;
    position: absolute;
    top: 20%;
    right: 20%;
    will-change: transform;
    animation: move-astronaut 50s infinite linear both alternate;
}


.stars{
    background: url(../assets/images/overlay-stars.svg);
    background-repeat: repeat;
    background-size: contain;
    background-position: left top;
}

.glowing-stars .star{
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    width: 3px;
    height: 3px;
    opacity: 0.3;
    will-change: opacity;
}

.glowing-stars .star:nth-child(1){
    top: 80%;
    left: 25%;
    animation: glow-star 2s infinite ease-in-out alternate 1s;
}
.glowing-stars .star:nth-child(2){
    top: 20%;
    left: 40%;
    animation: glow-star 2s infinite ease-in-out alternate 3s;
}
.glowing-stars .star:nth-child(3){
    top: 25%;
    left: 25%;
    animation: glow-star 2s infinite ease-in-out alternate 5s;
}
.glowing-stars .star:nth-child(4){
    top: 75%;
    left: 80%;
    animation: glow-star 2s infinite ease-in-out alternate 7s;
}
.glowing-stars .star:nth-child(5){
    top: 90%;
    left: 50%;
    animation: glow-star 2s infinite ease-in-out alternate 9s;
}


/* ARROW */


.arrow {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 65%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
  -webkit-animation: arrow-movement 3s ease-in-out infinite;
          animation: arrow-movement 3s ease-in-out infinite;
}


.arrow:before,
.arrow:after {
  background: #fff;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.arrow:before {
  -webkit-transform: rotate(45deg) translateX(-23%);
          transform: rotate(45deg) translateX(-23%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.arrow:after {
  -webkit-transform: rotate(-45deg) translateX(23%);
          transform: rotate(-45deg) translateX(23%);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

@-webkit-keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 60%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 60%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* Prism Widget */


.content-wrapper {
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.prism-shape {
  position: relative;
  left: -100px;
  width: 150px;
  height: 150px;
  border-bottom: 3px solid #454545;
  margin: 2rem auto 5rem;
}
.prism-shape:before, .prism-shape:after {
  content: '';
  position: absolute;
  width: 150px;
  height: 3px;
  bottom: 0;
  background: #454545;
  z-index: 3;
}
.prism-shape:before {
  -webkit-transform: rotate(60deg) translateX(-47%);
  transform: rotate(60deg) translateX(-47%);
  right: -72px;
}
.prism-shape:after {
  -webkit-transform: rotate(-60deg) translateX(47%);
  transform: rotate(-60deg) translateX(47%);
  left: -72px;
}
.prism-shape .white-streak {
  height: 2px;
  width: 300px;
  position: absolute;
  background: black;
  -webkit-transform: rotate(-13deg) translateY(calc(100% + 110px));
  transform: rotate(-13deg) translateY(calc(100% + 110px));
  border-radius: 10px 0 0 10px;
}

.lower-streak {
  top:15px;
  left: -286px;
}

.upper-streak {
  left: -279px;
}


.prism-shape .prism-wrapper {
  position: relative;
  height: 100px;
  width: 400px;
  -webkit-perspective: 150px;
  perspective: 150px;
  margin: 80px auto auto -120px;
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
}
.prism-shape .prism-clip-wrapper {
  width: 700px;
  height: 520px;
  position: absolute;
  display: flex;
  overflow: hidden;
  -webkit-transform: rotate(-31deg);
  transform: rotate(-31deg);
  left: 153px;
  top: -202px;
  z-index: -1;
}

#white-light-label {
    float: left;
    position: absolute;
    top: 83px;
    left: -150px;
    transform: rotate(-13deg);
}

#prism-label {
    position: absolute;
    top: 156px;
    left: 53px;
}

.prism-radio {
  margin-left: 30px;
  margin-top: 30px;
}

@-webkit-keyframes glow {
  to {
    width: 100%;
    flex-grow: 1;
  }
}

@keyframes glow {
  to {
    width: 100%;
    flex-grow: 1;
  }
}
.prism-items {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  display: flex;
  flex-direction: column;
}
.prism-items .prism-colors {
  flex-grow: 1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.prism-items .prism-colors:nth-child(1) {
  background: red;
}
.prism-items .prism-colors:nth-child(2) {
  background: orange;
}
.prism-items .prism-colors:nth-child(3) {
  background: yellow;
}
.prism-items .prism-colors:nth-child(4) {
  background: green;
}
.prism-items .prism-colors:nth-child(5) {
  background: blue;
}
.prism-items .prism-colors:nth-child(6) {
  background: indigo;
}
.prism-items .prism-colors:nth-child(7) {
  background: violet;
}

.lens {
  background-color: #dedede;
  border-radius: 10px;
  height: 170px;
  width: 10px;
  position: absolute;
  top: -37px;
  right: 91px;
}

.camera-filter {
  width: 7px;
  right: 84px;
  top:-58px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s linear;
  z-index: 1;
}

.camera-filter:active {
  top:-27px;
}

.white-cover {
  display: none;
  background-color: white;
  height: 200px;
  width: 200px;
  right: -116px;
  top: -45px;
}

/* End Prism Widget*/




input[type="range"] {
  /*display: block;*/
  -webkit-appearance: none;
  background-color: #4b6cb7;
  width: 200px;
  height: 5px;
  border-radius: 5px;
  outline: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 5px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 26px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -4px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}

.custom-select {
  font-size: 18px;
  float: right;
  width: 100px;
}

.input-color {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #3498db;
}

.form-check-input {
  margin-top: .85rem;
}

.sticky {
  position: absolute;
  bottom: 0;
}

.center-sticky {
  float: left;
  margin: 25px;
  margin-left: -5px;
  width: 90%;
}

.input-container {
  width: 70%;
  float: right;
  right: 0;
}

.widget {
  margin-bottom: 50px;
}

.widget-title {
  margin-left: -1.25rem;
  color: black;
  font-size: 25px;
  text-align: left;
  text-shadow: none;
  position: relative;
}

.filter {
  margin-bottom: 25px;
}

.filter-label {
  display: inline-block;
  text-align: center;
  width: 20px;
}

.filter-titles {
  position: relative;
  left: -25px;
  width: 10px;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: none;
}


/* Filters */


/* Intro */

.intro-filter {
  background-position: center;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-blend-mode: multiply;
  mix-blend-mode: screen;
  -webkit-box-shadow: 0px 0px 11px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 11px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0px 11px #ccc;
  /*display: none;*/
}


/* Six Color Filter */

.image-filter {
  background-position: center;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-blend-mode: multiply;
  mix-blend-mode: screen;
  -webkit-box-shadow: 3px 3px 6px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 6px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 6px #ccc;
  display: none;
}

.u-filter {
  filter: brightness(1.92);
  background-image: url('../assets/m33/m33-u.png');
}


/* b – Blue */

.b-filter {
  filter: brightness(1.08);
  background-image: url('../assets/m33/m33-b.png');
}


/* v – Green */

.v-filter {
  filter: brightness(1.45);
  background-image: url('../assets/m33/m33-v.png');
}


/* r – Yellow */

.r-filter {
  filter: brightness(.52);
  background-image: url('../assets/m33/m33-r.png');
}


/* i – Orange */

.i-filter {
  filter: brightness(.375);
  background-image: url('../assets/m33/m33-i.png');
}


/* ha – Red */

.ha-filter {
  filter: brightness(1.9);
  background-image: url('../assets/m33/m33-ha.png');
}


/* RGB Widget */


/* Red */

.red-filter {
  background-position: center;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-image: url('../assets/images/red-filter.png');
  mix-blend-mode: screen;
  background-size: 100%;
  display: none;
}


/* Green */

.green-filter {
  background-position: center;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-image: url('../assets/images/green-filter.png');
  mix-blend-mode: screen;
  background-size: 100%;
  display: none;
}


/* Blue */

.blue-filter {
  background-position: center;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-image: url('../assets/images/blue-filter.png');
  mix-blend-mode: screen;
  background-size: 100%;
  display: none;
}


/* Media And Screen styles */


/*Extra large devices (large desktops, 1200px and up)*/

@media (max-width: 1200px) {
  input[type="range"] {
    width: 142px;
  }
}


/*Large devices (desktops, 992px and up)*/

@media (max-width: 992px) {
  input[type="range"] {
    width: 69px;
  }
  .prism-items {
    width: 93%;
  }
  .fig {
    width: 100%;
  }
}


/*Medium devices (tablets, 768px and up)*/

@media (max-width: 768px) {
  input[type="range"] {
    width: 70%;
  }
  .mobile-buffer {
    height: 40vh;
  }

}


/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 676px) {
  input[type="range"] {
    width: 70%;
  }
  .prism-shape {
    left: -15px;
  }
  .prism-items {
    width: 70%;
  }

}

@media (max-width: 490px) {
  input[type="range"] {
    width: 60%;
  }
  .prism-items {
    width: 60%;
  }
  #white-light-label {
    top: 64px;
    left: -68px;
    transform: rotate(-12deg);
}