body {
  margin:0 !important;
  overflow-x:hidden;
  background-color: #f7f7f7;
}

canvas {
  background-color:#000;
  display: block;
}


#main {
  position:fixed;
  z-index: 1;

}


/* Sidebar */


.sidebar {
  float: left;
  width: 425px;
  z-index: 10;
  position: relative;
  background: white;
  font-size: 15px;
}

.sidebar p, ol, ul, b {
  padding: 19px;
  padding-bottom: 0px;
  border-radius: 5px;
  width: 375px;
  position: relative;
  z-index: 10;
  line-height: 34px;
  font-size: 18px;
}

.sidebar li {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
}

.sidebar h2, h3 {
  padding: 19px;
}
.sidebar h3 {
  padding-bottom: 1px;
  font-weight: 600;
}



/* Buttons*/


.button {
  font-size: 18px;
  margin: 20px;
}

.canvas-overlay-button {
  left: 440px;
}

a.click-to-scroll {
  font-size: 30px;
}

.legend-position {
  height: 100px;
  left: 680px;
}

.density-map-opacity {
  display: block;
  margin-right: auto !important; 
  margin-left: auto;
}


/* Images */

.density-map {
  width: 370px;
  padding:20px;
}

.data-map {
  position: absolute;
  left: 15px;
}
