body {
  margin:0 !important;
  overflow-x:hidden;
  background-color: #f7f7f7;
}

h3 {
  font-size: 2.35rem;
  color: #272727;
}

p {
  font-size: 18px;
  color: #272727;
}

ul {
  font-size: 18px;
}

ol {
  font-size: 18px;
}

canvas {
  background-color:#000;
  display: block;
}

/* Change back after testing */
#main {
  height: 85vh;
}

/* Text CSS */

.nb-header-alt2 {
        text-decoration: underline;
          /*display: block;*/
          /*text-align: center;*/
          font-family: 'Montserrat', sans-serif;
          font-weight: 800;
          font-size: 65px;
          /*width: 500px;*/
          color: #86a9c5;
          margin: auto;
          margin-top: 20px
      }

      .sidebar p, ol, ul, b {
        /*background: white;*/
         padding: 19px;
        border-radius: 5px;
        width: 375px;
        position: relative;
        /*color: white;*/
        z-index: 10;
        font-size: 15px;
      }

      .sidebar h2, h3 {
        padding: 19px;
      }

      .sidebar {
        position: relative;
        background: white;
        font-size: 15px;
      }
/* Widget CSS */

.position-indicator {
	display: inline;
	float: right;
  position: relative;
  top: 11px;
}

/* Buttons*/

.canvas-button {
  position: absolute;
  display: block;
  z-index: 99;
  left: 0%;
  top: 0%;
}

.canvas-button-nb {
  z-index: 99;
  left: 0%;
  top: 0%;
}

.custom-select {
  width: 200px;
  margin: 20px;
}

a.click-to-scroll {
  font-size: 30px;
}