/*body{
  margin:0;
  overflow:hidden;
  background-color:#000;
}*/

canvas{
  background-color:#000;
}

#main {
    width: 70vw !important;
    height: 70vh !important
    float: right !important;
     position: relative; 
    z-index: 1;
    }