@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900')

body {
  font-family: 'Open Sans', sans-serif;
}

html{
    margin: 0;
    font-weight: 300;   
}

canvas {
  background-color:#000;
  display: block;
}


#main {
  position:fixed;
  z-index: 1;

}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #ffffff;
  font-size: 84px;
  margin: auto;
  margin-top: 70px;
}

h2 {
  font-weight: 600;
} 

h3 {
  font-size: 2.35rem;
  color: #272727;
  font-weight: 600;
}

p, li {
  font-size: 18px;
  color: #272727;
  line-height: 34px;
  font-weight: 300;
}

li {
  margin-top: 20px;
}

a {
  color: #6c757d;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
  color: #aeaeae;
  transition: .3s;
  cursor: pointer;
}

b {
  font-size: 20px;
}

ul ol {
  font-size: 18px;
}


ol p {
  margin-bottom: .1rem;
  margin-top: 1rem;
}

ol ol {
  list-style-type: lower-alpha;
}



textarea{
  margin:10px 0px 10px 0px;
}

.notebook-header {
  font-weight: 800;
  font-size: 68px;
  color: #86a9c5;
  margin: auto;
  margin-top: 225px;
  margin-bottom: 275px;
}

.notebook-header.purple {
  color: #963f86;
}

/* Menu Styles */

.custom-navbar{
    padding-top: 15px;
}

.logo {
    margin-left: 25px;
    display: inline-block;
}

.navbar-links{
    display: inline-block;
    float: right;
    margin-right: 15px;
    text-transform: uppercase;  
}

.hamburger {
  background: none;
  line-height: 45px;
  border: 0;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 100;
}

.hamburger-menu {
  margin-left:0px !important;
}



/* Text Styles */

.list-none {
  list-style: none;
  padding:0px;
}

.list-none li {
  margin:0px;
}

.widget-title {
  font-family: 'Open Sans', sans-serif;
  margin-left: -1.25rem;
  color: black;
  font-size: 25px;
  text-align: left;
  text-shadow: none;
}

.fig {
  margin:50px auto 10px auto;
  display: block;
  width: 60%;
}

.wide {
  width: 85%;
}

.credit {
  margin-bottom: 40px;
  text-align: center;
  font-size:12px;
}

.two-image {
  width: 50%;
  float:left;
  padding: 10px;
}

.inline {
  display: inline-block;
}

.inline-textarea {
  width: 90px !important;
  display: inline !important;
  margin: 10px 10px -5px 10px !important;
}

/* Buttons */

.button {
  background: #182848;
  font-size: 18px;
  width: auto;
  padding: 10px 20px;
  border: none;
  font-weight: light;
  color: white;
  border-radius: 3px;
  outline: none !important;
}

.button:hover {
  background: #759bc3;
  transition: .2s;
}

button:focus {
  outline: none;
}

/* Range */

input[type="range"] {
  /*display: block;*/
  -webkit-appearance: none;
  background-color: #4b6cb7;
  /*width: 200px;*/
  height: 5px;
  border-radius: 5px;
  outline: 0;

}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 26px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -4px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}



.icon {
  height: 30px;
  margin: 10px;
  position: relative;
  top: -3px;
}

.icon-text {
  position: relative;
  left: -50px;
}


@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

/* Links */

.scroll-link {
  color: #6c757d;
  font-weight: 700;
}

.scroll-link:hover {
  text-decoration: none;
  color: #aeaeae;
  transition: .3s;
  cursor: pointer;
}

/* Textarea */


.form-control:focus {
  border-color: none;
  box-shadow: none;
}

.custom-select:focus {
   border-color: none;
  box-shadow: none;
}

.summary {
  width: 100% !important;
}

.student-answer-inline {
  width: 130px;
}

.mc-small {
  width: 75px;
}

/* Sidebar */


.sidebar {
  float: left;
  width: 425px;
  z-index: 10;
  position: relative;
  background: white;
  font-size: 15px;
  padding-left: 27px;
}

.container.sidebar {
  padding-right: 40px;
}


@media (max-width: 600px){
    .navbar-links{
        display: none;
    }
    
    .custom-navbar{
        text-align: center;
    }
    
    .logo img{
        width: 120px;
    }
    
    .box-astronaut{
        top: 70%;
    }
    
    .central-body{
        padding-top: 25%;
    }
}

@media (max-width: 676px) {


}