body {
  font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,900');


@font-face {
    font-family: BWNistaGEo-Bk;
    src: url(../fonts/BwNistaGeo-Bk.otf);
}


h1 {
    font-family: 'BWNistaGEo-Bk', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 8px #2c4373;
    color: white;
    max-width: 480px;
    font-size: 74px;
    margin: auto;
    text-align: center;
}

h2 {
  font-weight: 600;
  margin: 30px 0 30px 0;
} 

html{
    margin: 0;
    font-weight: 300;   
}



.intro-filter h3 {
  margin: 200px;
 
}

a {
  color: #6c757d;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
  color: #aeaeae;
  transition: .3s;
  cursor: pointer;
}

.prism-radio {
  margin-left: 30px;
  margin-top: 30px;
}


ol p {
  margin-bottom: .1rem;
  margin-top: 1rem;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 12px;
    
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

li a:hover {
    color: #ffcb39;
}


/* Navigation Styles */

.custom-navbar{
    padding-top: 15px;
}

.brand-logo{
    margin-left: 25px;
    margin-top: 5px;
    display: inline-block;
}

.navbar-links{
    display: inline-block;
    float: right;
    margin-right: 15px;
    text-transform: uppercase;  
}

.hamburger {
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  width: 100px;
  border:0;
  font-size:2em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:100;
}


/* Text Styles */

.list-none {
  list-style: none;
}

.widget-title {
  font-family: 'Open Sans', sans-serif;
  margin-left: -1.25rem;
  color: black;
  font-size: 25px;
  text-align: left;
  text-shadow: none;
}

.fig {
  margin:50px auto 10px auto;
  display: block;
  width: 60%;
}

.wide {
  width: 85%;
}

.credit {
  margin-bottom: 40px;
  text-align: center;
  font-size:12px;
}

.two-image {
  width: 50%;
  float:left;
  padding: 10px;
}

.inline {
  display: inline-block;
}

/* Universal Styles */

.button {
  background: #182848;
  width: auto;
  padding: 10px 20px;
  border: none;
  font-weight: light;
  color: white;
  border-radius: 3px;
  outline: none !important;
}

.button:hover {
  background: #759bc3;
  transition: .2s;
}

.icon {
  height: 30px;
  margin: 10px;
  position: relative;
  top: -3px;
}

.icon-text {
  position: relative;
  left: -50px;
}


@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

/* Links */

.scroll-link {
  color: #6c757d;
}

.scroll-link:hover {
  text-decoration: none;
  color: #a2a7ab;
  transition: .2s;
  cursor: pointer;
}

/* Textarea */
textarea.form-control {
  width: 40%;
}

.student-answer {
  max-width: 40%;
}


/* Dropdown */

.object-select {
  font-size: 18px;
  float: right;
  width: 100px;
}

.object-select:focus {
  outline: none;
  box-shadow: none;
  border-color: rgb(206, 212, 218);
}

@media only screen and (max-width: 600px){
    .navbar-links{
        display: none;
    }
    
    .custom-navbar{
        text-align: center;
    }
    
    .brand-logo img{
        width: 120px;
    }
    
    .box-astronaut{
        top: 70%;
    }
    
    .central-body{
        padding-top: 25%;
    }
}

@media (max-width: 676px) {
  textarea.form-control {
    width: 91%;
  }

}